{% extends "layout.html" %}

{% block content %}
    <h3><i class="material-icons"><a {% block back %}href='{% url "home" %}'{% endblock back %}>arrow_back</a></i>
    {% block patient %}
        Pacientes <i class="material-icons"><a href='{% url "create_patient" %}'>add</a></i></h3>
        <ul class="list-group list-group-flush bg-transparent w-25">
            {% for patient in object_list %}
                <li class="list-group-item bg-transparent d-flex justify-content-between align-items-center">
                    <a href='{% url "detail_patient" patient.slug %}'>{{ patient.name }}</a>
                    <span class="self-align-end"><i class="material-icons"><a href='{% url "delete_patient" patient.slug %}'>delete</a></i></span>
                </li>
            {% endfor %}
        </ul>
    {% endblock patient %}
{% endblock content %}
